<html>
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  {% include 'shared/navBar.jinja' %}
</head>
<body>
    <div class="container">
        <h1 class="mb-4 text-center">Contact Us</h1>
        <p class="text-center">If you have any questions, feedback, or need assistance, feel free to reach out to us through the following channels:</p>
        <div class="fw-bold">
            <div class="mb-3">
                <label for="email" class="form-label">Ashish</label>
                <input type="email" class="form-control" id="email" placeholder="https://github.com/AshishBehal2004"readonly>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Chris</label>
                <input type="email" class="form-control" id="email" placeholder="https://github.com/Chris-Karagiannis"readonly>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Kim</label>
                <input type="email" class="form-control" id="email" placeholder="https://github.com/ChhayZ7"readonly>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Raj</label>
                <input type="email" class="form-control" id="name" placeholder="https://github.com/LostRavenOP" readonly>
            </div>
        </div>
</html>