<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    {% include 'shared/navBar.jinja' %}

    <div class="container my-5">
        <h1 class="mb-4 text-center">Contact Us</h1>
        <p class="text-center">If you have any questions, feedback, or need assistance, feel free to reach out to us:</p>

        <div class="fw-bold">
            <div class="mb-3">
                <label for="ashish" class="form-label">Ashish</label>
                <input type="text" class="form-control" id="ashish" placeholder="https://github.com/AshishBehal2004" readonly>
            </div>
            <div class="mb-3">
                <label for="chris" class="form-label">Chris</label>
                <input type="text" class="form-control" id="chris" placeholder="https://github.com/Chris-Karagiannis" readonly>
            </div>
            <div class="mb-3">
                <label for="kim" class="form-label">Kim</label>
                <input type="text" class="form-control" id="kim" placeholder="https://github.com/ChhayZ7" readonly>
            </div>
            <div class="mb-3">
                <label for="raj" class="form-label">Raj</label>
                <input type="text" class="form-control" id="raj" placeholder="https://github.com/LostRavenOP" readonly>
            </div>
        </div>
    </div>
</body>
</html>