<nav class="navbar">
    <div class="navbar-Brand">
        <Link to="/" class="nav-logo">Brand Logo</Link>
    </div>
    <ul class="navbar-links">
        <li><a href="/templates/index.jinja">Home</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>